
.idea/.name

.idea/dictionaries/frank.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/instrument_tool_kit.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

build/Debug/itk.so

.idea/codeStyleSettings.xml

build/Debug/libitk_python.dylib

build/Debug/itk_tests
